In [1]:
import pandas as pd
import numpy as np

In [2]:
news_outlets = pd.read_csv("APRIL2019_DATABASE_State of the Latino News Media - MARCH2019_FINAL_MASTER_DATABASE.csv")
news_outlets.head()

,Estado,State,Medio,Media Outlet,Ciudad,City,Dirección,Zip Code,Latitud,Longitud,...,Fuentes de ingresos,Sources of Revenue,Número de empleados/Number of employees,Frecuencia,Frequency,Facebook,Twitter,Instagram,YouTube,Otra red social
0,Alabama,Alabama,Latino News,Latino News,Trussville,Trussville,PO Box 1313,35173,33.637321,-86.560208,...,NaN,NaN,NaN,Semanario,Weekly,https://www.facebook.com/LatinoNewspaper/,https://twitter.com/latinonews1,NaN,NaN,NaN
1,Alabama,Alabama,Alabama TV,Alabama TV,Hoover,Hoover,"2105 Lorna Ridge Lane, Suite 151",35216,33.391113,-86.796007,...,NaN,NaN,NaN,NaN,NaN,https://www.facebook.com/alabamatv/,https://twitter.com/AlabamaTv,https://www.instagram.com/alabamatv/,https://www.youtube.com/channel/UCdXIk0_d5kv_p...,NaN
2,Alabama,Alabama,Líder News,Líder News,Birmingham,Birmingham,PO Box 360535,35236,33.370188,-86.809721,...,Publicidad,Advertising,6-10,Semanal,Weekly,https://www.facebook.com/lidernews.alabama/,NaN,NaN,NaN,NaN
3,Alaska,Alaska,KDMD Telemundo Alaska,KDMD Telemundo Alaska,Anchorage,Anchorage,1310 E. 66th Ave.,99518,61.161005,-149.857320,...,NaN,NaN,NaN,NaN,NaN,https://www.facebook.com/Telemundo-Alaska-1662...,https://twitter.com/telemundoalaska,NaN,NaN,NaN
4,Alaska,Alaska,Sol de Medianoche,Sol de Medianoche,Anchorage,Anchorage,PO Box 93466,99501,61.233689,-149.851780,...,Publicidad,Advertising,1-5,Diario,Daily,https://www.facebook.com/soldemedianochenews/,NaN,NaN,NaN,NaN

In [3]:
def clean_address(row):
    name =  row.lower().split('/')
    if  row.lower().startswith('https') or  row.lower().startswith('http'):       
        return name[3]
    elif row.lower().startswith('www'):
        return name[1] 
    elif row.lower().startswith('facebook'):
        return name[1]
    else:
        print("Not found", row)
        return None

In [4]:
name_fb = news_outlets[['State','Facebook']].copy()
name_fb = name_fb[name_fb['Facebook'].notna()]

In [5]:
name_fb['clean_url'] = name_fb['Facebook'].apply(clean_address)
name_fb

,State,Facebook,clean_url
0,Alabama,https://www.facebook.com/LatinoNewspaper/,latinonewspaper
1,Alabama,https://www.facebook.com/alabamatv/,alabamatv
2,Alabama,https://www.facebook.com/lidernews.alabama/,lidernews.alabama
3,Alaska,https://www.facebook.com/Telemundo-Alaska-1662...,telemundo-alaska-166204037463565
4,Alaska,https://www.facebook.com/soldemedianochenews/,soldemedianochenews
...,...,...,...
619,Wisconsin,https://www.facebook.com/ElConquistadorNews/,elconquistadornews
620,Wisconsin,https://www.facebook.com/spanishjournal,spanishjournal
621,Wisconsin,https://www.facebook.com/TelemundoWisconsin,telemundowisconsin
622,Wisconsin,https://www.facebook.com/AztecaWisconsin/,aztecawisconsin
623,Wisconsin,https://www.facebook.com/LaComunidadNewsLLC/,lacomunidadnewsllc

In [6]:
democrat = pd.read_csv("Biden_Posts.csv")
democrat.head(5)

,Page Name,User Name,Facebook Id,Likes at Posting,Created,Type,Likes,Comments,Shares,Love,...,Message,Link,Final Link,Image Text,Link Text,Description,Sponsor Id,Sponsor Name,Total Interactions,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x )
0,Mundo Hispánico,mundohispanico,279933092023507,4576200.0,2020-09-13 13:00:44 EDT,Photo,2163,2849,192,285,...,TODOS CONTRA TRUMP. Con tal de 'sacar' al pres...,https://www.facebook.com/mundohispanico/photos...,https://www.facebook.com/login/?next=https%3A%...,UNITED to 3033 ADEN,NaN,NaN,NaN,NaN,"5,659","5,659"
1,El Nuevo Día,elnuevodia,5996048750,2248500.0,2020-09-30 09:50:41 EDT,Link,1049,1894,585,88,...,Opinión El Nuevo Día | Si es relecto como pres...,https://www.elnuevodia.com/opinion/punto-de-vi...,NaN,NaN,A Joe Biden no le importan los puertorriqueños,NaN,NaN,NaN,"5,642","5,642"
2,Mundo Hispánico,mundohispanico,279933092023507,4591841.0,2020-10-07 21:31:18 EDT,Photo,1687,2667,154,261,...,EN SU PROPIA CARA. A minutos de comenzar el DE...,https://www.facebook.com/mundohispanico/photos...,NaN,MUNDO KISPANICO ÚLTIMA HORA,NaN,NaN,NaN,NaN,"5,064","5,064"
3,Mundo Hispánico,mundohispanico,279933092023507,4569864.0,2020-08-20 21:47:55 EDT,Photo,798,3166,155,34,...,NaN,https://www.facebook.com/MarioGuevaraNews/phot...,https://www.facebook.com/login/?next=https%3A%...,ΜΗ ÚLTIMA HORA,Mario Guevara,¡EN SU PROPIA CASA! A minutos de que BIDEN ace...,NaN,NaN,"4,695","4,695"
4,El Nuevo Día,elnuevodia,5996048750,2248324.0,2020-10-16 13:02:02 EDT,Link,2029,1397,183,404,...,Junto a Alex Rodríguez participó de un convers...,https://www.elnuevodia.com/corresponsalias/was...,NaN,NaN,Jenniffer López endosa oficialmente a Joe Biden,NaN,NaN,NaN,"4,573","4,573"

In [7]:
democrat['URL']

0       https://www.facebook.com/mundohispanico/posts/...
1       https://www.facebook.com/elnuevodia/posts/1015...
2       https://www.facebook.com/mundohispanico/posts/...
3       https://www.facebook.com/mundohispanico/posts/...
4       https://www.facebook.com/elnuevodia/posts/1015...
                              ...
2962    https://www.facebook.com/UnivisionNuevoMexico/...
2963    https://www.facebook.com/UnivisionNuevoMexico/...
2964    https://www.facebook.com/UnivisionNuevoMexico/...
2965    https://www.facebook.com/UnivisionNuevoMexico/...
2966    https://www.facebook.com/UnivisionNuevoMexico/...
Name: URL, Length: 2967, dtype: object

In [8]:
democrat['clean_url'] = democrat['URL'].apply(clean_address)
democrat['clean_url']

0             mundohispanico
1                 elnuevodia
2             mundohispanico
3             mundohispanico
4                 elnuevodia
                ...
2962    univisionnuevomexico
2963    univisionnuevomexico
2964    univisionnuevomexico
2965    univisionnuevomexico
2966    univisionnuevomexico
Name: clean_url, Length: 2967, dtype: object

In [9]:
democrat['clean_url'].isna().sum()

0

In [10]:
democrat_st =  democrat.merge(name_fb, on="clean_url", how="left")
democrat_st.loc[democrat_st['Page Name'] == 'El Kentubano','State'] = 'Kentucky'

In [11]:
df = democrat_st['State'].value_counts().reset_index()
df.columns = ['State','Count']
df

               State  Count
0             Nevada    298
1            Arizona    234
2           Colorado    226
3       Pennsylvania    206
4            Florida    198
5         California    193
6      Massachusetts    192
7        Puerto Rico    182
8           New York    154
9   Washington, D.C.    133
10           Georgia    119
11           Alabama    117
12             Texas    113
13          Illinois    112
14        New Jersey     99
15       Connecticut     77
16          Nebraska     62
17         Missouri      48
18         Louisiana     46
19           Indiana     40
20    North Carolina     39
21              Utah     32
22        New Mexico     31
23        Washington     30
24          Maryland     28
25          Michigan     26
26          Kentucky     25
27          Virginia     23
28          Delaware     23
29         Wisconsin     22
30         Tennessee     19
31          Missouri     18
32      Rhode Island     18
33              Iowa     14
34            Oregon     13
35            Kansas     10
36   South Carolina       9
37       Mississippi      7
38         Minnesota      7
39          Arkansas      5
40             Idaho      2
41            Alaska      2
42              Ohio      2
43          Oklahoma      1

In [14]:
df.to_csv("Democrat.csv",index=False)