In [33]:
import re
import pandas as pd

In [237]:
file = "FBGroupsPolitical_cities.csv"
data = pd.read_csv("cscwDocs/"+file,error_bad_lines=False)
data.head(3)

,name,Page or Account URL,List
0,Trabajos Hispanos en New York,https://www.facebook.com/115818805455671,LatinosPagesPolitical
1,Utah Latino Republicans,https://www.facebook.com/443879169772342,LatinosPagesPolitical
2,Zelda Latino New York,https://www.facebook.com/104115684360170,LatinosPagesPolitical

### Clasify according to State

In [238]:
data.columns

Index(['name', 'Page or Account URL', 'List'], dtype='object')

In [239]:
data.shape

(337, 3)

### US States

In [240]:
us_states = pd.DataFrame({'State':['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Florida',
             'Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts',
             'Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico',
             'New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina',
             'South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']})

### US Main Cities

In [241]:
us_cities = pd.DataFrame()
us_cities = {'Texas': {'cities': ['McAllen','Austin','Katy','Woodlands','Dallas','DFW','Houston','El Paso','Arlington','San Antonio','New Braunfels']},
          'Florida': {'cities': ['Kendall','Fort Lauderdale','SWFL','Miami','Orlando','Orlando','Palm Beach','Tampa']},
          'California': {'cities': ['Carlsbad','Kissimmee','Los Angeles','San Diego','San Francisco','Oakland','San Bernardino','Riverside']},
          'Illinois': {'cities': ['Chicago','Elgin']},
          'Arizona': {'cities': ['Phoenix']},
          'North Carolina': {'cities': ['Charlotte','Fayetteville']}, 
          'Ohio': {'cities': ['cincinnati','Columbus']}, 
          'Georgia': {'cities': ['Atlanta','Savannah']}, 
          'Utah': {'cities': ['Salt Lake City']},
          'New Jersey': {'cities': ['Plainfields','NJ']},
          'Nevada': {'cities': ['Las Vegas']},
          'New York': {'cities': ['NY']},  
          'Tennessee': {'cities': ['Nashville']},  
          'Massachusetts': {'cities': ['Boston']}, 
          'Colorado': {'cities': ['Boulder']}, 
            }


us_cities['Texas']['cities']

['McAllen',
 'Austin',
 'Katy',
 'Woodlands',
 'Dallas',
 'DFW',
 'Houston',
 'El Paso',
 'Arlington',
 'San Antonio',
 'New Braunfels']

In [242]:
def classify_by_state(row):
    name = row['name'].lower()
    for elem in us_states['State']:
        if elem.lower() in name:          
            return elem
        else:
            for city in us_cities:
                for elem in (us_cities[city]['cities']):
                    if elem.lower() in name:
                        return city

In [243]:
fb_data = pd.DataFrame()
data['state']=data.apply(classify_by_state, axis=1)
data['state'].isna().sum()

27

In [244]:
review = data[data['state'].isna()]
review.head(3)

,name,Page or Account URL,List,state
6,Mission Cultural Center for Latino Arts,https://www.facebook.com/32424369914,LatinosPagesPolitical,None
181,Mesa Association of Hispanic Citizens,https://www.facebook.com/405716996135910,LatinosPagesPolitical,None
193,Real Latinos for Trump 2020,https://www.facebook.com/395008724187490,LatinosPagesPolitical,None

In [245]:
review.to_csv("reviewciies.csv",index=False)

In [246]:
fb_data = data[~data['state'].isna()]
fb_data

,name,Page or Account URL,List,state
0,Trabajos Hispanos en New York,https://www.facebook.com/115818805455671,LatinosPagesPolitical,New York
1,Utah Latino Republicans,https://www.facebook.com/443879169772342,LatinosPagesPolitical,Utah
2,Zelda Latino New York,https://www.facebook.com/104115684360170,LatinosPagesPolitical,New York
3,Latino Mix Dallas,https://www.facebook.com/373210132732581,LatinosPagesPolitical,Texas
4,Latino Mix Chicago,https://www.facebook.com/250085535056159,LatinosPagesPolitical,Illinois
...,...,...,...,...
332,Solteros Latinos en New York,https://www.facebook.com/471488416527190,LatinosPagesPolitical,New York
333,"Latinos / Hispanics Over 40 New York, NY",https://www.facebook.com/1635374083385330,LatinosPagesPolitical,New York
334,Latinos En La Ciudad de New York by the Fox,https://www.facebook.com/1001653156892562,LatinosPagesPolitical,New York
335,Houston Latinos,https://www.facebook.com/1816508631909498,LatinosPagesPolitical,Texas
336,Virginia Latinos for Trump,https://www.facebook.com/112319103528503,LatinosPagesPolitical,Virginia

In [247]:
fb_data.to_csv("cscwDocs/parties/"+file,index=False)