### Read Public Groups/Pages classify groups by State

In [1]:
import re
import pandas as pd
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

In [2]:
def clean_address(row):
    name =  row.lower().split('/')
    if  row.lower().startswith('https') or  row.lower().startswith('http'):       
        return name[3]
    elif row.lower().startswith('www'):
        return name[1] 
    elif row.lower().startswith('facebook'):
        return name[1]
    else:
        print("Not found", row)
        return None

## 1. Reads  Info
Reads the information from all the posts from the studied period

In [3]:

path = "cscwDocs/parties/FBPagesGroupsData/FBPagesGroupsCities/"
posts1 = pd.read_csv(path+"LatinosEstadosPagesAug182020-Nov032020.csv")
#We rename the colum Page Name to be able to concat with Group Posts
posts1.rename(columns={'Page Name':'Group Name'}, inplace=True)
posts2 = pd.read_csv(path+"LatinosEstadosGroups-Aug182020-Aug252020.csv")
posts3 = pd.read_csv(path+"LatinosEstadosGroups-Aug262020-Aug312020.csv")
posts4 = pd.read_csv(path+"LatinosEstadosGroups-Sep012020-Sep042020.csv")
posts5 = pd.read_csv(path+"LatinosEstadosGroups-Sep052020-Sep082020.csv")
posts6 = pd.read_csv(path+"LatinosEstadosGroups-Sep092020-Sep122020.csv")
posts7 = pd.read_csv(path+"LatinosEstadosGroups-Sep132020-Sep162020.csv")
posts8 = pd.read_csv(path+"LatinosEstadosGroups-Sep172020-Sep202020.csv")
posts9 = pd.read_csv(path+"LatinosEstadosGroups-Sep212020-Sep242020.csv")
posts10 = pd.read_csv(path+"LatinosEstadosGroups-Sep252020-Sep282020.csv")
posts11 = pd.read_csv(path+"LatinosEstadosGroups-Sep292020-Oct022020.csv")
posts12 = pd.read_csv(path+"LatinosEstadosGroups-Oct032020-Oct062020.csv")
posts13 = pd.read_csv(path+"LatinosEstadosGroups-Oct072020-Oct102020.csv")
posts14 = pd.read_csv(path+"LatinosEstadosGroups-Oct112020-Oct142020.csv")
posts15 = pd.read_csv(path+"LatinosEstadosGroups-Oct152020-Oct172020.csv")
posts16 = pd.read_csv(path+"LatinosEstadosGroups-Oct182020--Oct212020.csv")
posts17 = pd.read_csv(path+"LatinosEstadosGroups-Oct222020-Oct252020.csv")
posts18 = pd.read_csv(path+"LatinosEstadosGroups-Oct262020-Oct292020.csv")
posts19 = pd.read_csv(path+"LatinosEstadosGroups-October302020-Nov032020.csv")
posts = pd.concat([posts1,posts2,posts3,posts4,posts5,posts6,posts7,posts8,posts9,
                   posts10,posts11,posts12,posts13,posts14,posts15,posts16,posts17,posts18,posts19])
posts.shape

/Users/claudia/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/claudia/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(1064972, 31)

In [4]:
pd.set_option('display.max_colwidth', 400)
posts['URL'].head()

0                             https://www.facebook.com/massbhr/posts/1707320269437868
1                     https://www.facebook.com/CampuzanoDallas/posts/2889965114555748
2    https://www.facebook.com/bluecrossblueshieldoftexaslatino/posts/2927651804002395
3                     https://www.facebook.com/CampuzanoDallas/posts/2835974503288143
4                           https://www.facebook.com/IHCHOUSTON/posts/612042733073951
Name: URL, dtype: object

In [5]:
posts.head(3)

,Group Name,User Name,Facebook Id,Likes at Posting,Created,Type,Likes,Comments,Shares,Love,...,Message,Link,Final Link,Image Text,Link Text,Description,Sponsor Id,Sponsor Name,Total Interactions,Overperforming Score
0,Massachusetts Black & Hispanic Republicans,massbhr,372721146231127,546.0,2020-08-30 09:58:59 EDT,Photo,177,48,4095,15,...,NaN,https://www.facebook.com/massbhr/photos/a.902962399873663/1707320232771205/?type=3,NaN,"McKayla J @McKaylaRoseJ BLM did not start under Trump, it started under under Obama. The war on police didn't start under Trump, it started under Obama. This racial tension did not start under Trump, it started under Obama. Obama emboldened this hate through his administration and now we're paying the cost",NaN,NaN,NaN,NaN,"4,354",88.86
1,Campuzano Mexican Food - Dallas,CampuzanoDallas,1402835359935405,30612.0,2020-10-20 18:06:13 EDT,Photo,1905,25,41,58,...,Let‚Äôs enjoy a delicious Over the top Margarita in the patio ‚òÄÔ∏è,https://www.facebook.com/CampuzanoDallas/photos/a.2737293939822867/2889965091222417/?type=3,NaN,NaN,NaN,NaN,NaN,NaN,"2,045",37.18
2,Blue Cross and Blue Shield of Texas Latino,bluecrossblueshieldoftexaslatino,103499073084363,14339.0,2020-10-09 11:41:00 EDT,Photo,1294,28,77,94,...,"Platanos, aguacate, arroz y frijoles se encuentran en muchos platos hispanoamericanos. Comparte una foto de tu comida hispana favorita. #HispanicHeritageMonth",https://www.facebook.com/bluecrossblueshieldoftexaslatino/photos/a.141287472638856/2927651804002395/?type=3,NaN,NaN,Timeline Photos,NaN,NaN,NaN,"1,507",79.32

## 9. Filter the most relevant columns
### Add column to concat Message, Description, Link Text

In [6]:
concat_message = posts['Message'].fillna('') + (' ' + posts['Description']).fillna('')+ (' ' + posts['Link Text']).fillna('') + (' ' + posts['Link']).fillna('')
posts['MessageDescr'] = concat_message

concat_just_message = posts['Message'].fillna('') + (' ' + posts['Description']).fillna('')+ (' ' + posts['Link Text']).fillna('')
posts['MessageOnly'] = concat_just_message

In [7]:
posts.columns

Index(['Group Name', 'User Name', 'Facebook Id', 'Likes at Posting', 'Created',
       'Type', 'Likes', 'Comments', 'Shares', 'Love', 'Wow', 'Haha', 'Sad',
       'Angry', 'Care', 'Video Share Status', 'Post Views', 'Total Views',
       'Total Views For All Crossposts', 'Video Length', 'URL', 'Message',
       'Link', 'Final Link', 'Image Text', 'Link Text', 'Description',
       'Sponsor Id', 'Sponsor Name', 'Total Interactions',
       'Overperforming Score', 'MessageDescr', 'MessageOnly'],
      dtype='object')

In [8]:
posts[posts['Link Text'].str.lower().str.contains("√≠", na = False)].head(1)

,Group Name,User Name,Facebook Id,Likes at Posting,Created,Type,Likes,Comments,Shares,Love,...,Final Link,Image Text,Link Text,Description,Sponsor Id,Sponsor Name,Total Interactions,Overperforming Score,MessageDescr,MessageOnly
4,Institute of Hispanic Culture of Houston,IHCHOUSTON,1715255265365568,5778.0,2020-08-20 18:00:48 EDT,Native Video,1032,56,106,28,...,NaN,NaN,SPOTLIGHTS VENEZUELA Cap√≠tulo 2 con el percusionista JOSE G. HERNANDEZ,NaN,NaN,NaN,"1,227",40.9,Conversaremos con este famoso percusionista Venezolano Jose Gregorio Hernandez SPOTLIGHTS VENEZUELA Cap√≠tulo 2 con el percusionista JOSE G. HERNANDEZ https://www.facebook.com/IHCHOUSTON/videos/612042733073951/,Conversaremos con este famoso percusionista Venezolano Jose Gregorio Hernandez SPOTLIGHTS VENEZUELA Cap√≠tulo 2 con el percusionista JOSE G. HERNANDEZ

In [9]:
#!/usr/bin/env python
import re

text = u'This is a smiley face \U0001f602'
print(text) # with emoji

def deEmojify(text):
    
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                          
                           "]+", flags = re.UNICODE)
    
    
    return regrex_pattern.sub(r'',text)

print(deEmojify(text))

def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

This is a smiley face üòÇ
This is a smiley face

In [10]:

posts['Group Name']=posts['Group Name'].apply(deEmojify)
posts['Group Name']=posts['Group Name'].apply(lambda i: i.replace('"', ''))
posts['Group Name']=posts['Group Name'].apply(lambda i: i.replace(',', ''))
posts['Facebook Id'] = posts['Facebook Id'].astype(int)

## Read FB Group Names & State

In [11]:
fb_groups = pd.read_csv("cscwDocs/parties/FBGroupsPolitical_cities.csv")
fb_groups['Facebook Id'] = fb_groups['Page or Account URL'].str.strip("https://www.facebook.com/groups/")
fb_groups

,name,Page or Account URL,List,State,state,Facebook Id
0,Hispanos unidos en New York (H.U.N.Y),https://www.facebook.com/groups/793416207356486,Latinos+EstadosGroups,New York,New York,793416207356486
1,Hispanos en Columbus Ohio,https://www.facebook.com/groups/1450333408570918,Latinos+EstadosGroups,Ohio,Ohio,1450333408570918
2,"Cristianos Hispanos en Dallas, Texas ( Metroplex)",https://www.facebook.com/groups/600361880064744,Latinos+EstadosGroups,Texas,Texas,600361880064744
3,Hispanos en Oklahoma,https://www.facebook.com/groups/1160877743977648,Latinos+EstadosGroups,Oklahoma,Oklahoma,1160877743977648
4,Hispanos unidos en el gabacho (Tennessee),https://www.facebook.com/groups/2663330647279121,Latinos+EstadosGroups,Tennessee,Tennessee,2663330647279121
...,...,...,...,...,...,...
492,Latinos en SWFL,https://www.facebook.com/groups/125398434802756,Latinos+EstadosGroups,Florida,Florida,125398434802756
493,Latinos en Fayetteville NC,https://www.facebook.com/groups/330153457746158,Latinos+EstadosGroups,North Carolina,North Carolina,330153457746158
494,LATINOS EN UTAH,https://www.facebook.com/groups/147690845007,Latinos+EstadosGroups,Utah,Utah,147690845007
495,Latinos en los Angeles California compra y venta,https://www.facebook.com/groups/166308334272338,Latinos+EstadosGroups,California,California,166308334272338
496,Latinos en Tampa Bay official,https://www.facebook.com/groups/1422333744524670,Latinos+EstadosGroups,Florida,Florida,1422333744524670

### 4. US states

In [12]:
us_states = pd.DataFrame({'State':['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Florida',
             'Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts',
             'Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico',
             'New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina',
             'South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']})

##  Count posts in general by state

In [13]:
from functools import reduce
data_frames = [fb_groups, posts]
fb_groups['Facebook Id'] = fb_groups['Facebook Id'].astype(int)
df_posts_state  = reduce(lambda  left,right: pd.merge(left,right,on=['Facebook Id'],
                                            how='outer'), data_frames)
df_count = df_posts_state.groupby(['State']).agg({'Facebook Id':'count'}).reset_index() 

df_count.columns = ['State','Posts_Counts']
df_count.sort_values(by=['State'], ascending=True,inplace=True)
df_count.fillna(0, inplace=True)
df_count['Posts_Counts'] = df_count['Posts_Counts'].astype(int)
df_count.head(10)

         State  Posts_Counts
0      Arizona          4140
1     Arkansas            44
2   California         61055
3     Colorado          1645
4  Connecticut          9245
5      Florida        303098
6      Georgia         23082
7     Illinois         16804
8      Indiana           103
9         Iowa           675

In [14]:
data_frames = [df_count, us_states]
missing_states  = reduce(lambda  left,right: pd.merge(left,right,on=['State'],
                                            how='outer'), data_frames)
missing_states.fillna(0, inplace=True)
missing_states['Posts_Counts'] = missing_states['Posts_Counts'].astype(int)
missing_states

                   State  Posts_Counts
0                Arizona          4140
1               Arkansas            44
2             California         61055
3               Colorado          1645
4            Connecticut          9245
5                Florida        303098
6                Georgia         23082
7               Illinois         16804
8                Indiana           103
9                   Iowa           675
10              Kentucky          2552
11              Maryland         40412
12         Massachusetts         20543
13              Michigan          1586
14             Minnesota         31955
15           Mississippi            72
16              Missouri         12375
17               Montana             8
18              Nebraska           210
19                Nevada          2768
20            New Jersey         92209
21              New York        123670
22        North Carolina         31737
23          North Dakota            37
24                  Ohio         27205
25              Oklahoma          7780
26                Oregon         10657
27          Pennsylvania          4661
28          Rhode Island           249
29        South Carolina          2507
30          South Dakota           374
31             Tennessee         14433
32                 Texas        153434
33                  Utah         32085
34              Virginia          7139
35            Washington          2097
36             Wisconsin          2668
37               Wyoming            40
38               Alabama             0
39                Alaska             0
40              Delaware             0
41  District of Columbia             0
42                Hawaii             0
43                 Idaho             0
44                Kansas             0
45             Louisiana             0
46                 Maine             0
47         New Hampshire             0
48            New Mexico             0
49               Vermont             0
50         West Virginia             0

In [15]:
df_count.to_csv('cscwDocs/FB_groups_States/FB_groups_posts_by_state2.csv',index=False,na_rep=0)

In [16]:
df_posts_state.columns

Index(['name', 'Page or Account URL', 'List', 'State', 'state', 'Facebook Id',
       'Group Name', 'User Name', 'Likes at Posting', 'Created', 'Type',
       'Likes', 'Comments', 'Shares', 'Love', 'Wow', 'Haha', 'Sad', 'Angry',
       'Care', 'Video Share Status', 'Post Views', 'Total Views',
       'Total Views For All Crossposts', 'Video Length', 'URL', 'Message',
       'Link', 'Final Link', 'Image Text', 'Link Text', 'Description',
       'Sponsor Id', 'Sponsor Name', 'Total Interactions',
       'Overperforming Score', 'MessageDescr', 'MessageOnly'],
      dtype='object')

## 3. Which groups are publishing the majority of the content

In [17]:
group = posts.groupby(['Group Name'])
final_groups = group.agg({'Facebook Id':'count'}).sort_values(by='Facebook Id',ascending=False)
final_groups

                                                                          Facebook Id
Group Name
LATINOS EN NEW YORK                                                             73716
Venezolanos en Miami                                                            29886
Latinos en New Jersey y areas cercanas                                          20811
Cubanos en miamifl                                                              16746
Latinos en Minnesota                                                            16011
...                                                                               ...
New York State  Black Puerto Rican Hispanic and Asian Legislative Caucus            1
Latino San Francisco Bay Area                                                       1
North Carolina Congress of Latino Organizations                                     1
Don Carlos Mexican Restaurant 416 76th Street Houston                               1
Hispanic Chamber of Commerce of Palm Beach County                                   1

[783 rows x 1 columns]

In [18]:
final_groups.to_csv("cscwDocs/FB_groups_States/Posts_Per_group2.csv")

## 4. Filter posts per topic

In [19]:
#Topics
economy = 'economy|econom√≠a|economia|welfare|taxes|unemployment|employment|job|minimum-wage|union|poverty|poor|homeless|stock|gdp'
health_care = 'health care|salud|medico|m√©dico|salud|doctor|medicaid|medicare|planned parenthood|insurance|injury|disability'
coronavirus = 'coronavirus|covid|pandemia|vacuna|tos|fiebre|enfermo|pandemic|vaccine|fever|sick'
crime = 'crime|crimen|pandilla|violento|vandalism|violence|crime|robbery|theft|gang'
supreme_court = 'supreme court|suprema corte|juez|corte suprema|ruth bader ginsberg'
climate_change = 'climate change|cambio clim√°tico|environment|recycle|pollution|litter|nature|climate change|global warming‚Ä®'
immigration = 'immigration|migration|inmigraci√≥n|migraci√≥n|immigracion|indocumentado|frontera|pared|ice|border'
gun_policy = 'gun policy|gun policies|pol√≠tica de armas|guns rights|NRA|armas|arma|pistola|pol√≠tica de armas|armas|gun violence|shooting|2nd amendment|second amendment|concealed carry'
foreign_policy ='foreign policy|pol√≠tica exterior|foreign policies|china|russia|united kingdom|england|mexico|canada|trade|embargo|ambassador|consulate|middle east|prime minister|war'
abortion = 'aborto|abortion|aborto|feto|embarazada|planned parenthood|abortion|fetus|trimester|miscarriage|pregnancy'
racism = 'racial inequality|etnic inqueality|racism|racismo|inequidad racial|inequidad √©tnica|crimen de odio|igualdad de raza y √©tnica|discriminaci√≥n|asian|black|hate crime|racism|desigualdad|blm|all lives matter'


pd.set_option('display.max_colwidth', 400)
path = 'cscwDocs/FB_groups_States/Topics/'
prefix = 'FB_groups_States_'

In [20]:
posts_economy = df_posts_state.copy()
posts_economy = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(economy   ,na = False)]
print('economy', posts_economy.shape)
posts_economy.to_csv(path + prefix + 'economy' + '.csv')

economy (14507, 38)

In [21]:
topic='health_care'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

health_care (1, 38)

In [22]:
topic='coronavirus'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

coronavirus (5954, 38)

In [23]:
topic='crime'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

crime (1131, 38)

In [24]:
topic='supreme_court'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

supreme_court (2, 38)

In [25]:
topic='climate_change'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

climate_change (0, 38)

In [26]:
topic='immigration'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

immigration (2714, 38)

In [27]:
topic='gun_policy'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

gun_policy (0, 38)

In [28]:
topic='foreign_policy'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

foreign_policy (0, 38)

In [29]:
topic='abortion'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

abortion (121, 38)

In [30]:
topic='racism'
df = df_posts_state.copy()
df = df_posts_state[df_posts_state['MessageDescr'].str.lower().str.contains(topic ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

racism (520, 38)