In [42]:
import pandas as pd
import numpy as np

In [43]:
news_outlets = pd.read_csv("APRIL2019_DATABASE_State of the Latino News Media - MARCH2019_FINAL_MASTER_DATABASE.csv")
news_outlets.head()

,Estado,State,Medio,Media Outlet,Ciudad,City,Dirección,Zip Code,Latitud,Longitud,...,Fuentes de ingresos,Sources of Revenue,Número de empleados/Number of employees,Frecuencia,Frequency,Facebook,Twitter,Instagram,YouTube,Otra red social
0,Alabama,Alabama,Latino News,Latino News,Trussville,Trussville,PO Box 1313,35173,33.637321,-86.560208,...,NaN,NaN,NaN,Semanario,Weekly,https://www.facebook.com/LatinoNewspaper/,https://twitter.com/latinonews1,NaN,NaN,NaN
1,Alabama,Alabama,Alabama TV,Alabama TV,Hoover,Hoover,"2105 Lorna Ridge Lane, Suite 151",35216,33.391113,-86.796007,...,NaN,NaN,NaN,NaN,NaN,https://www.facebook.com/alabamatv/,https://twitter.com/AlabamaTv,https://www.instagram.com/alabamatv/,https://www.youtube.com/channel/UCdXIk0_d5kv_p...,NaN
2,Alabama,Alabama,Líder News,Líder News,Birmingham,Birmingham,PO Box 360535,35236,33.370188,-86.809721,...,Publicidad,Advertising,6-10,Semanal,Weekly,https://www.facebook.com/lidernews.alabama/,NaN,NaN,NaN,NaN
3,Alaska,Alaska,KDMD Telemundo Alaska,KDMD Telemundo Alaska,Anchorage,Anchorage,1310 E. 66th Ave.,99518,61.161005,-149.857320,...,NaN,NaN,NaN,NaN,NaN,https://www.facebook.com/Telemundo-Alaska-1662...,https://twitter.com/telemundoalaska,NaN,NaN,NaN
4,Alaska,Alaska,Sol de Medianoche,Sol de Medianoche,Anchorage,Anchorage,PO Box 93466,99501,61.233689,-149.851780,...,Publicidad,Advertising,1-5,Diario,Daily,https://www.facebook.com/soldemedianochenews/,NaN,NaN,NaN,NaN

In [44]:
def clean_address(row):
    name =  row.lower().split('/')
    if  row.lower().startswith('https') or  row.lower().startswith('http'):       
        return name[3]
    elif row.lower().startswith('www'):
        return name[1] 
    elif row.lower().startswith('facebook'):
        return name[1]
    else:
        print("Not found", row)
        return None

In [45]:
name_fb = news_outlets[['State','Facebook']].copy()
name_fb = name_fb[name_fb['Facebook'].notna()]

In [46]:
name_fb['clean_url'] = name_fb['Facebook'].apply(clean_address)
name_fb

,State,Facebook,clean_url
0,Alabama,https://www.facebook.com/LatinoNewspaper/,latinonewspaper
1,Alabama,https://www.facebook.com/alabamatv/,alabamatv
2,Alabama,https://www.facebook.com/lidernews.alabama/,lidernews.alabama
3,Alaska,https://www.facebook.com/Telemundo-Alaska-1662...,telemundo-alaska-166204037463565
4,Alaska,https://www.facebook.com/soldemedianochenews/,soldemedianochenews
...,...,...,...
619,Wisconsin,https://www.facebook.com/ElConquistadorNews/,elconquistadornews
620,Wisconsin,https://www.facebook.com/spanishjournal,spanishjournal
621,Wisconsin,https://www.facebook.com/TelemundoWisconsin,telemundowisconsin
622,Wisconsin,https://www.facebook.com/AztecaWisconsin/,aztecawisconsin
623,Wisconsin,https://www.facebook.com/LaComunidadNewsLLC/,lacomunidadnewsllc

In [47]:
republican = pd.read_csv("Trump_Posts.csv")
republican.head(5)

,Page Name,User Name,Facebook Id,Likes at Posting,Created,Type,Likes,Comments,Shares,Love,...,Message,Link,Final Link,Image Text,Link Text,Description,Sponsor Id,Sponsor Name,Total Interactions,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x )
0,Mundo Hispánico,mundohispanico,279933092023507,4589078.0,2020-10-02 09:16:36 EDT,Photo,7281,9258,1669,373,...,NaN,https://www.facebook.com/MarioGuevaraNews/phot...,NaN,ΜΗ ÚLTIMA HORA,Mario Guevara,No olviden poner en sus oraciones de este día ...,NaN,NaN,"24,803","24,803"
1,Mundo Hispánico,mundohispanico,279933092023507,4589531.0,2020-10-03 09:17:23 EDT,Photo,3806,7449,904,171,...,NaN,https://www.facebook.com/MarioGuevaraNews/phot...,NaN,NaN,Mario Guevara,PAGARÁN CARO quienes ‘se atrevan’ a publicar m...,NaN,NaN,"17,258","17,258"
2,Mundo Hispánico,mundohispanico,279933092023507,4591995.0,2020-10-09 17:25:48 EDT,Photo,2345,5015,485,137,...,NaN,https://www.facebook.com/MarioGuevaraNews/phot...,NaN,ΜΗ ÚLTIMA HORA,Mario Guevara,¡ES EN SERIO! Presentan ley que busca DESTITUI...,NaN,NaN,"9,645","9,645"
3,Mundo Hispánico,mundohispanico,279933092023507,4592016.0,2020-10-10 23:58:07 EDT,Photo,1814,5266,408,143,...,NaN,https://www.facebook.com/MarioGuevaraNews/phot...,NaN,MUNDO HISPANICO ÚLTIMA HORA,Mario Guevara,ÚLTIMA HORA: Doctor de Trump hace inesperado a...,NaN,NaN,"8,831","8,831"
4,Univision,univision,259955926518,5924926.0,2020-09-18 09:40:03 EDT,Link,1999,1047,1342,180,...,La popular red social TikTok quedará eliminada...,https://www.univision.com/noticias/tecnologia/...,NaN,NaN,Gobierno de Trump anuncia que bloqueará la des...,El Departamento de Comercio anunció la medida ...,NaN,NaN,"5,888","5,888"

In [48]:
republican['URL']

0       https://www.facebook.com/mundohispanico/posts/...
1       https://www.facebook.com/mundohispanico/posts/...
2       https://www.facebook.com/mundohispanico/posts/...
3       https://www.facebook.com/mundohispanico/posts/...
4       https://www.facebook.com/univision/posts/10158...
                              ...
9041    https://www.facebook.com/UnivisionNuevoMexico/...
9042    https://www.facebook.com/UnivisionNuevoMexico/...
9043    https://www.facebook.com/UnivisionNuevoMexico/...
9044    https://www.facebook.com/UnivisionNuevoMexico/...
9045    https://www.facebook.com/47ABC/posts/101585049...
Name: URL, Length: 9046, dtype: object

In [49]:
republican['clean_url'] = republican['URL'].apply(clean_address)
republican['clean_url']

0             mundohispanico
1             mundohispanico
2             mundohispanico
3             mundohispanico
4                  univision
                ...
9041    univisionnuevomexico
9042    univisionnuevomexico
9043    univisionnuevomexico
9044    univisionnuevomexico
9045                   47abc
Name: clean_url, Length: 9046, dtype: object

In [50]:
republican['clean_url'].isna().sum()

0

In [51]:
republican_st =  republican.merge(name_fb, on="clean_url", how="left")
republican_st.loc[republican_st['Page Name'] == 'El Kentubano','State'] = 'Kentucky'

In [52]:
republican_st['State']

0           Georgia
1           Georgia
2           Georgia
3           Georgia
4        California
            ...
10584           NaN
10585           NaN
10586           NaN
10587           NaN
10588      Maryland
Name: State, Length: 10589, dtype: object

In [53]:
df = republican_st['State'].value_counts().reset_index()
df.columns = ['State','Count']
df

               State  Count
0             Nevada    936
1           Colorado    700
2      Massachusetts    616
3            Florida    596
4            Georgia    595
5         California    593
6            Arizona    523
7           New York    523
8        Puerto Rico    520
9           Illinois    451
10      Pennsylvania    425
11             Texas    353
12  Washington, D.C.    346
13        New Jersey    328
14       Connecticut    274
15           Alabama    252
16          Nebraska    229
17         Missouri     164
18          Michigan    161
19         Louisiana    123
20        Washington    109
21          Maryland    103
22           Indiana     99
23              Iowa     78
24          Missouri     78
25    North Carolina     75
26            Oregon     69
27         Tennessee     67
28              Utah     67
29        New Mexico     63
30          Kentucky     61
31      Rhode Island     58
32          Delaware     45
33          Virginia     44
34   South Carolina      39
35         Wisconsin     35
36         Minnesota     30
37          Arkansas     27
38       Mississippi     18
39            Kansas     15
40            Alaska      4
41             Idaho      3
42              Ohio      2
43          Oklahoma      1

In [54]:
df.to_csv('Republican.csv',index=False)