### Classify Facebook Pages or Groups according to the State they belong (using the Page/Group Name)

In [38]:
import re
import pandas as pd

In [39]:
file = "FBGroupsPolitical_cities.csv"
data = pd.read_csv("cscwDocs/parties/"+file,error_bad_lines=False)
data.head(3)

,name,Page or Account URL,List,State
0,Hispanos unidos en New York (H.U.N.Y),https://www.facebook.com/groups/793416207356486,Latinos+EstadosGroups,New York
1,Hispanos en Columbus Ohio,https://www.facebook.com/groups/1450333408570918,Latinos+EstadosGroups,Columbus
2,"Cristianos Hispanos en Dallas, Texas ( Metroplex)",https://www.facebook.com/groups/600361880064744,Latinos+EstadosGroups,Dallas

### Clasify according to State

In [40]:
data.columns

Index(['name', 'Page or Account URL', 'List', 'State'], dtype='object')

In [41]:
data.shape

(497, 4)

### US States

In [42]:
us_states = pd.DataFrame({'State':['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Florida',
             'Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts',
             'Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico',
             'New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina',
             'South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']})

### US Main Cities

In [43]:
us_cities = pd.DataFrame()
us_cities = {'Texas': {'cities': ['McAllen','Austin','Katy','Woodlands','Dallas','DFW','Houston','El Paso','Arlington','San Antonio','New Braunfels']},
          'Florida': {'cities': ['Kendall','Fort Lauderdale','SWFL','Miami','Orlando','Orlando','Palm Beach','Tampa']},
          'California': {'cities': ['Carlsbad','Kissimmee','Los Angeles','San Diego','San Francisco','Oakland','San Bernardino','Riverside']},
          'Illinois': {'cities': ['Chicago','Elgin']},
          'Arizona': {'cities': ['Phoenix']},
          'North Carolina': {'cities': ['Charlotte','Fayetteville']}, 
          'Ohio': {'cities': ['cincinnati','Columbus']}, 
          'Georgia': {'cities': ['Atlanta','Savannah']}, 
          'Utah': {'cities': ['Salt Lake City']},
          'New Jersey': {'cities': ['Plainfields','NJ']},
          'Nevada': {'cities': ['Las Vegas']},
          'New York': {'cities': ['NY']},  
          'Tennessee': {'cities': ['Nashville']},  
          'Massachusetts': {'cities': ['Boston']}, 
          'Colorado': {'cities': ['Boulder']}, 
            }


us_cities['Texas']['cities']

['McAllen',
 'Austin',
 'Katy',
 'Woodlands',
 'Dallas',
 'DFW',
 'Houston',
 'El Paso',
 'Arlington',
 'San Antonio',
 'New Braunfels']

In [44]:
def classify_by_state(row):
    name = row['name'].lower()
    for elem in us_states['State']:
        if elem.lower() in name:          
            return elem
        else:
            for city in us_cities:
                for elem in (us_cities[city]['cities']):
                    if elem.lower() in name:
                        return city

In [47]:
fb_data = pd.DataFrame()
data['State']=data.apply(classify_by_state, axis=1)
data['State'].isna().sum()

0

In [48]:
review = data[data['State'].isna()]
review.head(3)

Empty DataFrame
Columns: [name, Page or Account URL, List, State, state]
Index: []

In [49]:
review.to_csv("reviewciies.csv",index=False)

In [50]:
fb_data = data[~data['State'].isna()]
fb_data

,name,Page or Account URL,List,State,state
0,Hispanos unidos en New York (H.U.N.Y),https://www.facebook.com/groups/793416207356486,Latinos+EstadosGroups,New York,New York
1,Hispanos en Columbus Ohio,https://www.facebook.com/groups/1450333408570918,Latinos+EstadosGroups,Ohio,Ohio
2,"Cristianos Hispanos en Dallas, Texas ( Metroplex)",https://www.facebook.com/groups/600361880064744,Latinos+EstadosGroups,Texas,Texas
3,Hispanos en Oklahoma,https://www.facebook.com/groups/1160877743977648,Latinos+EstadosGroups,Oklahoma,Oklahoma
4,Hispanos unidos en el gabacho (Tennessee),https://www.facebook.com/groups/2663330647279121,Latinos+EstadosGroups,Tennessee,Tennessee
...,...,...,...,...,...
492,Latinos en SWFL,https://www.facebook.com/groups/125398434802756,Latinos+EstadosGroups,Florida,Florida
493,Latinos en Fayetteville NC,https://www.facebook.com/groups/330153457746158,Latinos+EstadosGroups,North Carolina,North Carolina
494,LATINOS EN UTAH,https://www.facebook.com/groups/147690845007,Latinos+EstadosGroups,Utah,Utah
495,Latinos en los Angeles California compra y venta,https://www.facebook.com/groups/166308334272338,Latinos+EstadosGroups,California,California
496,Latinos en Tampa Bay official,https://www.facebook.com/groups/1422333744524670,Latinos+EstadosGroups,Florida,Florida

In [51]:
fb_data.to_csv("cscwDocs/parties/"+file,index=False)