In [1]:
import re

import pandas as pd

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

## 1. Read News Outlets List

In [2]:
news_outlets = pd.read_csv("cscwDocs/LatinoNewsMediaOutlets_corrected.csv")
news_outlets.head(2)

,Estado,State,Medio,Media Outlet,Ciudad,City,Dirección,Zip Code,Latitud,Longitud,...,Fuentes de ingresos,Sources of Revenue,Número de empleados/Number of employees,Frecuencia,Frequency,Facebook,Twitter,Instagram,YouTube,Otra red social
0,Alabama,Alabama,Latino News,Latino News,Trussville,Trussville,PO Box 1313,35173,33.637321,-86.560208,...,NaN,NaN,NaN,Semanario,Weekly,https://www.facebook.com/LatinoNewspaper/,https://twitter.com/latinonews1,NaN,NaN,NaN
1,Alabama,Alabama,Alabama TV,Alabama TV,Hoover,Hoover,"2105 Lorna Ridge Lane, Suite 151",35216,33.391113,-86.796007,...,NaN,NaN,NaN,NaN,NaN,https://www.facebook.com/alabamatv/,https://twitter.com/AlabamaTv,https://www.instagram.com/alabamatv/,https://www.youtube.com/channel/UCdXIk0_d5kv_p...,NaN

In [3]:
def clean_address(row):
    name =  row.lower().split('/')
    if  row.lower().startswith('https') or  row.lower().startswith('http'):       
        return name[3]
    elif row.lower().startswith('www'):
        return name[1] 
    elif row.lower().startswith('facebook'):
        return name[1]
    else:
        print("Not found", row)
        return None

In [4]:
name_fb = news_outlets[['State','Facebook']].copy()
name_fb = name_fb[name_fb['Facebook'].notna()]

In [5]:
name_fb['clean_url'] = name_fb['Facebook'].apply(clean_address)
name_fb.head(3)

     State                                     Facebook          clean_url
0  Alabama    https://www.facebook.com/LatinoNewspaper/    latinonewspaper
1  Alabama          https://www.facebook.com/alabamatv/          alabamatv
2  Alabama  https://www.facebook.com/lidernews.alabama/  lidernews.alabama

In [6]:
name_fb['clean_url'].nunique()

487

In [7]:
name_fb[name_fb['clean_url']=='eltiempolatino']

,State,Facebook,clean_url
613,District of Columbia,https://www.facebook.com/eltiempolatino/,eltiempolatino

In [8]:
name_fb[name_fb['State']=='District of Columbia']

,State,Facebook,clean_url
611,District of Columbia,https://www.facebook.com/NTN24/,ntn24
612,District of Columbia,https://www.facebook.com/Latinovations/,latinovations
613,District of Columbia,https://www.facebook.com/eltiempolatino/,eltiempolatino
614,District of Columbia,https://www.facebook.com/NoticiasDC/,noticiasdc
615,District of Columbia,https://www.facebook.com/Telemundo44/,telemundo44
617,District of Columbia,https://www.facebook.com/ElComercioNewspaperCorp/,elcomercionewspapercorp
618,District of Columbia,https://www.facebook.com/AgenciaEFEnoticias/,agenciaefenoticias

### 1.1 Remove Puerto Rico

In [9]:
#name_fb[name_fb['State']=='Puerto Rico']

In [10]:
name_fb[name_fb['State']=='District of Columbia']

,State,Facebook,clean_url
611,District of Columbia,https://www.facebook.com/NTN24/,ntn24
612,District of Columbia,https://www.facebook.com/Latinovations/,latinovations
613,District of Columbia,https://www.facebook.com/eltiempolatino/,eltiempolatino
614,District of Columbia,https://www.facebook.com/NoticiasDC/,noticiasdc
615,District of Columbia,https://www.facebook.com/Telemundo44/,telemundo44
617,District of Columbia,https://www.facebook.com/ElComercioNewspaperCorp/,elcomercionewspapercorp
618,District of Columbia,https://www.facebook.com/AgenciaEFEnoticias/,agenciaefenoticias

## 2. Registered news media outlets
Reads the information from all the posts from the studied period

In [11]:
name_fb.to_csv("name_fb.csv",index=False)

In [12]:
posts1 = pd.read_csv("cscwDocs/general_posts/Aug_18-Aug-31-2020.csv")
posts2 = pd.read_csv("cscwDocs/general_posts/Sep_1-Sep-15-2020.csv")
posts3 = pd.read_csv("cscwDocs/general_posts/Sep-16-Sep-30-2020.csv")
posts4 = pd.read_csv("cscwDocs/general_posts/Oct-1-2020-Oct-15-2020.csv")
posts5 = pd.read_csv("cscwDocs/general_posts/Oct-16-2020-Oct-31-2020.csv")
posts6 = pd.read_csv("cscwDocs/general_posts/Nov-1-3-2020.csv")
posts = pd.concat([posts1,posts2,posts3,posts4,posts5,posts6],axis=0)
posts.shape

/Users/claudia/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (29,30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/claudia/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(414954, 32)

In [13]:
posts.dropna(subset=['Facebook Id'],inplace=True)
posts.shape

(414954, 32)

In [14]:
posts['URL']

0        https://www.facebook.com/telemundopr/posts/335...
1        https://www.facebook.com/ESPNDeportes/posts/36...
2        https://www.facebook.com/NotiUno630/posts/3337...
3        https://www.facebook.com/EstrellaTVNetwork/pos...
4        https://www.facebook.com/EstrellaTVNetwork/pos...
                               ...
17646    https://www.facebook.com/LatinOpinionBaltimore...
17647    https://www.facebook.com/HuffPostLatinoVoices/...
17648    https://www.facebook.com/HuffPostLatinoVoices/...
17649    https://www.facebook.com/HuffPostLatinoVoices/...
17650    https://www.facebook.com/HuffPostLatinoVoices/...
Name: URL, Length: 414954, dtype: object

In [15]:
posts['clean_url'] = posts['URL'].apply(clean_address)
posts['clean_url']

0                  telemundopr
1                 espndeportes
2                   notiuno630
3            estrellatvnetwork
4            estrellatvnetwork
                 ...
17646    latinopinionbaltimore
17647     huffpostlatinovoices
17648     huffpostlatinovoices
17649     huffpostlatinovoices
17650     huffpostlatinovoices
Name: clean_url, Length: 414954, dtype: object

In [16]:
posts_st =  posts.merge(name_fb, on="clean_url", how="left")
posts_st.loc[posts_st['Page Name'] == 'El Kentubano','State'] = 'Kentucky'

In [17]:
posts_st.loc[posts_st['Page Name'] =='Telemundo Surco','State'] = 'Colorado'
posts_st.loc[posts_st['Page Name'] =='Impulso de Oaxaca','State'] = 'California'
posts_st.loc[posts_st['Page Name'] =='La Oferta Newspaper','State'] = 'California'
posts_st.loc[posts_st['Page Name'] =='ElNuevoHeraldo.com','State'] = 'Texas'
posts_st.loc[posts_st['Page Name'] =='Cumbre1470am','State'] = 'Puerto Rico'
posts_st.loc[posts_st['Page Name'] =='WIPR','State'] = 'Puerto Rico'
posts_st.loc[posts_st['Page Name'] =='El Sol Latino','State'] = 'Florida'
posts_st.loc[posts_st['Page Name'] =='Latino Newspaper','State'] = 'South Carolina'
posts_st.loc[posts_st['Page Name'] =='Pdxlatino.com','State'] = 'Oregon'
posts_st.loc[posts_st['Page Name'] =='AHORA NEWS','State'] = 'New Jersey'
posts_st.loc[posts_st['Page Name'] =='Enterate Magazine NY& NJ','State'] = 'New York'

In [18]:
#posts_st = posts_st[posts_st['State']!='Puerto Rico']
print(posts_st.shape)
posts_st[posts_st.duplicated('Facebook Id')]

(462831, 35)

,Page Name,User Name,Facebook Id,Likes at Posting,Created,Type,Likes,Comments,Shares,Love,...,Link Text,Description,Sponsor Id,Sponsor Name,Total Interactions,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x ),Overperforming Score,clean_url,State,Facebook
4,ESTRELLA TV,EstrellaTVNetwork,329076968099,758998.0,2020-08-18 18:17:52 EDT,Photo,103686,654,507,12104,...,NaN,NaN,NaN,NaN,"118,280","118,280",258.25,estrellatvnetwork,North Carolina,https://www.facebook.com/EstrellaTVNetwork
5,ESPN Deportes,ESPNDeportes,161975953820925,6741785.0,2020-08-28 02:00:00 EDT,Photo,28914,11832,7990,6741,...,Timeline Photos,NaN,NaN,NaN,"116,263","116,263",47.69,espndeportes,Connecticut,https://www.facebook.com/ESPNDeportes/
6,ESTRELLA TV,EstrellaTVNetwork,329076968099,765384.0,2020-08-25 20:40:51 EDT,Photo,100735,990,412,12335,...,Timeline Photos,NaN,NaN,NaN,"115,961","115,961",253.19,estrellatvnetwork,North Carolina,https://www.facebook.com/EstrellaTVNetwork
7,ESTRELLA TV,EstrellaTVNetwork,329076968099,758998.0,2020-08-18 13:30:00 EDT,Photo,91381,516,366,15648,...,NaN,NaN,NaN,NaN,"109,262","109,262",242.27,estrellatvnetwork,North Carolina,https://www.facebook.com/EstrellaTVNetwork
8,ESPN Deportes,ESPNDeportes,161975953820925,6730340.0,2020-08-20 01:00:12 EDT,Native Video,34234,1289,32920,10671,...,NaN,NaN,NaN,NaN,"96,474","96,474",140.02,espndeportes,Connecticut,https://www.facebook.com/ESPNDeportes/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462826,Latin Opinion Baltimore,LatinOpinionBaltimore,169130696504934,6285.0,2020-11-01 07:56:32 EST,Photo,0,0,0,0,...,ConsulMex Washington,📣 Acompáñanos a la inauguración de nuestro #Al...,NaN,NaN,0,0,-38,latinopinionbaltimore,Maryland,https://www.facebook.com/LatinOpinionBaltimore/
462827,HuffPost Latino Voices,HuffPostLatinoVoices,256004367748633,168290.0,2020-11-02 21:02:44 EST,Link,0,0,0,0,...,Can You Vote Anywhere On Election Day?,Whether you have to vote at a specific neighbo...,NaN,NaN,0,0,-204,huffpostlatinovoices,New York,https://www.facebook.com/HuffPostLatinoVoices/
462828,HuffPost Latino Voices,HuffPostLatinoVoices,256004367748633,168298.0,2020-11-02 11:29:10 EST,Link,0,0,0,0,...,8 Problems You May Encounter Going To Vote In ...,Here's what you need to know if you're droppin...,NaN,NaN,0,0,-204,huffpostlatinovoices,New York,https://www.facebook.com/HuffPostLatinoVoices/
462829,HuffPost Latino Voices,HuffPostLatinoVoices,256004367748633,168298.0,2020-11-02 07:01:06 EST,Link,0,0,0,0,...,Is It Safe To Vote In Person During COVID-19? ...,The pandemic has many worried about the electi...,NaN,NaN,0,0,-204,huffpostlatinovoices,New York,https://www.facebook.com/HuffPostLatinoVoices/
462830,HuffPost Latino Voices,HuffPostLatinoVoices,256004367748633,168303.0,2020-11-01 13:01:37 EST,Link,0,0,0,0,...,What Happened And What’s Next: A Postelection ...,Join a virtual conversation with HuffPost's po...,NaN,NaN,0,0,-204,huffpostlatinovoices,New York,https://www.facebook.com/HuffPostLatinoVoices/

In [19]:
posts_st[(posts_st['State']=='Texas') | (posts_st['State']=='California')| (posts_st['State']=='Florida')].head(1)

,Page Name,User Name,Facebook Id,Likes at Posting,Created,Type,Likes,Comments,Shares,Love,...,Link Text,Description,Sponsor Id,Sponsor Name,Total Interactions,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x ),Overperforming Score,clean_url,State,Facebook
10,Real America with Jorge Ramos,RealAmericaWithJorgeRamos,2076199329293198,615169.0,2020-08-23 10:13:43 EDT,Native Video,13846,17075,46664,411,...,BANANA REPUBLIC U.S.A.,NaN,NaN,NaN,"88,373","88,373",124.64,realamericawithjorgeramos,Florida,https://www.facebook.com/RealAmericaWithJorgeR...

In [20]:
posts_st[posts_st['State']=='District of Columbia'].head(1)

,Page Name,User Name,Facebook Id,Likes at Posting,Created,Type,Likes,Comments,Shares,Love,...,Link Text,Description,Sponsor Id,Sponsor Name,Total Interactions,Total Interactions (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x ),Overperforming Score,clean_url,State,Facebook
111,El Tiempo Latino,eltiempolatino,214061167976,25127.0,2020-08-26 08:00:01 EDT,Native Video,4141,724,4824,219,...,Niña de cuatro años a la deriva es rescatada p...,NaN,NaN,NaN,"14,958","14,958",318.26,eltiempolatino,District of Columbia,https://www.facebook.com/eltiempolatino/

In [21]:
#Unique Pages withouth Puerto Rico
### The actual news media outlets with Posts 
posts_st['Page Name'].nunique()

423

In [22]:
posts_st['State'] = posts_st['State'].str.rstrip()
posts_st['State'] = posts_st['State'].str.lstrip()

In [23]:
filtered = posts_st[posts_st['State'].isnull()]
filtered['Page Name']

Series([], Name: Page Name, dtype: object)

In [24]:
posts_st.columns

Index(['Page Name', 'User Name', 'Facebook Id', 'Likes at Posting', 'Created',
       'Type', 'Likes', 'Comments', 'Shares', 'Love', 'Wow', 'Haha', 'Sad',
       'Angry', 'Care', 'Video Share Status', 'Post Views', 'Total Views',
       'Total Views For All Crossposts', 'Video Length', 'URL', 'Message',
       'Link', 'Final Link', 'Image Text', 'Link Text', 'Description',
       'Sponsor Id', 'Sponsor Name', 'Total Interactions',
       'Total Interactions (weighted  —  Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x )',
       'Overperforming Score', 'clean_url', 'State', 'Facebook'],
      dtype='object')

In [25]:
posts_st['Page Name']

0                    Telemundo PR
1                   ESPN Deportes
2                     NotiUno 630
3                     ESTRELLA TV
4                     ESTRELLA TV
                   ...
462826    Latin Opinion Baltimore
462827     HuffPost Latino Voices
462828     HuffPost Latino Voices
462829     HuffPost Latino Voices
462830     HuffPost Latino Voices
Name: Page Name, Length: 462831, dtype: object

## 9. Filter the most relevant columns
### Add column to concat Message, Description, Link Text

In [26]:
concat_message = posts_st['Message'].fillna('') + (' ' + posts_st['Description']).fillna('')+ (' ' + posts_st['Link Text']).fillna('') + (' ' + posts_st['Link']).fillna('')
posts_st['MessageDescr'] = concat_message

concat_just_message = posts_st['Message'].fillna('') + (' ' + posts_st['Description']).fillna('')+ (' ' + posts_st['Link Text']).fillna('')
posts_st['MessageOnly'] = concat_just_message

## 3. Which news media outlets are publishing the majority of the content

In [27]:
group = posts_st.groupby(['Page Name'])
group.agg({'Facebook Id':'count'})

                     Facebook Id
Page Name
47 ABC                      1707
80grados                     331
99.1 La Perrona              316
AHORA NEWS                    34
Acontecer Latino             113
...                          ...
Wuvn Hartford                  1
Zona Pop CNN                  35
¿Qué Pasa, Midwest?            8
¿Qué Pasa, OSU?               18
Ñ Magazine                     4

[423 rows x 1 columns]

In [28]:
#group['Page Name'].sum()

In [29]:
posts_st.to_csv("cscwDocs/media_news_outlets.csv")

### 4. US states

In [30]:
us_states = pd.DataFrame({'State':['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Florida',
             'Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts',
             'Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico',
             'New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina',
             'South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']})

## 5. Count posts in general by state

In [36]:

df_general = posts_st['State'].value_counts().reset_index()
df_general.columns = ['State','Count']

In [37]:
from functools import reduce
data_frames = [us_states, df_general]
df_gen  = reduce(lambda  left,right: pd.merge(left,right,on=['State'],
                                            how='outer'), data_frames)
df_gen.columns = ['State','Posts_Counts']
df_gen.sort_values(by=['State'], ascending=True,inplace=True)
df_gen.fillna(0, inplace=True)
df_gen['Posts_Counts'] = df_gen['Posts_Counts'].astype(int)
df_gen

                   State  Posts_Counts
0                Alabama          1164
1                 Alaska           443
2                Arizona         14637
3               Arkansas           741
4             California         72208
5               Colorado         10566
6            Connecticut          9787
7               Delaware           942
8   District of Columbia         14156
9                Florida         36682
10               Georgia         22853
11                Hawaii             0
12                 Idaho           548
13              Illinois          7683
14               Indiana          1052
15                  Iowa          1742
16                Kansas          3217
17              Kentucky          1733
18             Louisiana          1532
19                 Maine             0
20              Maryland          4868
21         Massachusetts         11995
22              Michigan          2461
23             Minnesota          3086
24           Mississippi           344
25              Missouri          3137
26               Montana             0
27              Nebraska          3692
28                Nevada          9345
29         New Hampshire             0
30            New Jersey          7229
31            New Mexico          3580
32              New York         21609
33        North Carolina         27422
34          North Dakota             0
35                  Ohio          1050
36              Oklahoma          1428
37                Oregon          1760
38          Pennsylvania          6074
51           Puerto Rico         79803
39          Rhode Island          2684
40        South Carolina          1632
41          South Dakota             0
42             Tennessee           618
43                 Texas         59850
44                  Utah          3340
45               Vermont             0
46              Virginia           562
47            Washington          2980
48         West Virginia             0
49             Wisconsin           596
50               Wyoming             0

In [38]:
df_gen.to_csv('cscwDocs/News_media_outlets_all_posts_by_state.csv',index=False,na_rep=0)

## 6.Filter Posts per each political party 
How much each candidate talked about all the topics that Latinx cared about

In [39]:
#Topics
economy = r"\b(economy|economía|welfare|seguridad social|irs|taxes|impuestos|unemployment|employment|empleo|desempleo|minimum wage|salario mínimo|poverty|pobreza|gdp|pib)\b"
health_care = r"\b(health care|salud|médico|health|doctor|medicaid|medicare|obamacare|insurance|seguro médico|disability|discapacidad|discapacidad|disability)\b"
coronavirus = r"\b(coronavirus|covid|pandemia|pandemic|vacuna|vaccine|vaccination|vacunación|covid-19|pfizer|moderna|johnson & johnson|astrazeneca|johnson and johnson|sputnik|tos|fiebre|cough|fever)\b"
crime = r"\b(crime|crimen|pandilla|gang|vandalism|vandalismo|violence|violencia|robbery|theft|robo)\b"
supreme_court = r"\b(supreme court|suprema corte|juez|corte suprema|ruth bader|ginsberg)\b"
climate_change = r"\b(climate change|cambio climático|recycle|reciclar|pollution|contaminación|global warming|calentamiento global|environmental impact|impacto ambiental|tratado de paris|paris agreement)\b"
gun_policy = r"\b(gun policy|gun policies|política de armas|guns rights|nra|armas|arma|pistola|gun|gun violence|shooting|tiroteo|2nd amendment|second amendment|segunda enmienda|concealed carry|licencia de portación)\b"

foreign_policy =r"\b(usmca|foreign policy|política exterior|foreign trade|comercio exterior|divisa|foreign exchange|cámara de comercio|chamber of commerce|ambassador|embajador|embajadora|embajada|embassy|diplomatic relations|relaciones diplomáticas|middle east|medio oriente|prime minister|primer ministro)\b"
abortion = r"\b(aborto|abortion|feto|fetus|embarazada|pregnancy|embarazo|embarazo no deseado|unplanned pregnancy|embarazo no planeado|planned parenthood|planificación familiar|miscarriage)\b"
racism = r"\b(racial inequality|etnic inequality|racism|racismo|inequidad racial|inequidad étnica|crimen de odio|hate crime|discriminación|discrimination|asian|african american|black population|black community|desigualdad|blm|black lives matter|all lives matter)\b"
immigration = r"\b(visa|immigration|migration|inmigración|migración|indocumentado|undocumented|frontera|border|muro|wall|green card|ice|daca|dreamers)\b"


pd.set_option('display.max_colwidth', 400)
path = 'cscwDocs/NewsMediaOutlets/Topics/'
prefix = 'FB_groups_News_Media_Outlets_'

In [40]:
posts_economy = posts_st.copy()
posts_economy = posts_st[posts_st['MessageDescr'].str.lower().str.contains(economy   ,na = False)]
print('economy', posts_economy.shape)
posts_economy.to_csv(path + prefix + 'economy' + '.csv')

/Users/claudia/opt/anaconda3/lib/python3.8/site-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

economy (10571, 37)

In [41]:
topic='health_care'
df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(health_care ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

health_care (29892, 37)

In [42]:
topic='coronavirus'
df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(coronavirus ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

coronavirus (95098, 37)

In [43]:
topic='crime'
df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(crime ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

crime (9088, 37)

In [44]:
topic='supreme_court'
df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(supreme_court ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

supreme_court (7176, 37)

In [45]:
topic='climate_change'
df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(climate_change ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

climate_change (1182, 37)

In [46]:
topic='gun_policy'
df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(gun_policy ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

gun_policy (7309, 37)

In [47]:
topic='foreign_policy'
foreign_policy =r"\b(cámara de comercio|primer ministro|foreign policy)\b"

df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(foreign_policy ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

foreign_policy (534, 37)

In [48]:
topic='abortion'
df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(abortion ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

abortion (2189, 37)

In [49]:
topic='racism'
df = posts_st.copy()
df = posts_st[posts_st['MessageDescr'].str.lower().str.contains(racism ,na = False)]
print(topic, df.shape)
df.to_csv(path + prefix + topic + '.csv')

racism (2666, 37)

In [50]:
topic='immigration'

#has only immigration words but not ICE
df_imm = posts_st[(posts_st['MessageOnly'].str.lower().str.contains(immigration ,na = False))]
print(topic, df_imm.shape)
df_imm.to_csv(path + prefix + topic + '.csv')

immigration (10166, 37)