In [164]:
import pandas as pd

In [165]:
filename_pages = "FBPages" + "Political_cities.csv"
filename_groups = "FBGroups" + "Political_cities.csv"
file = "dataframe_cities.csv"
data = pd.read_csv(file,error_bad_lines=False)
data.head(3)

,Unnamed: 0,id,name,profileImage,subscriberCount,url,platform,platformId,accountType,verified,handle,pageAdminTopCountry
0,0,7856277,Hispanos unidos en New York (H.U.N.Y),https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-0/...,6720,https://www.facebook.com/groups/793416207356486,Facebook,793416207356486,facebook_group,False,NaN,NaN
1,0,9856807,Hispanos en Columbus Ohio,https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-0/...,11982,https://www.facebook.com/groups/1450333408570918,Facebook,1450333408570918,facebook_group,False,NaN,NaN
2,0,10866356,"Cristianos Hispanos en Dallas, Texas ( Metroplex)",https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-0...,1789,https://www.facebook.com/groups/600361880064744,Facebook,600361880064744,facebook_group,False,NaN,NaN

### Read Fb Groups data

In [166]:
fb_groups = data[data['accountType']=='facebook_group']
fb_groups.shape

(206650, 12)

In [173]:
fb_groups_no_dup = fb_groups.drop_duplicates(subset=['url'])
fb_groups_no_dup.shape

(556, 12)

In [174]:
fb_groups_upload = pd.DataFrame()
fb_groups_upload['name'] = fb_groups_no_dup['name']
fb_groups_upload['url'] = fb_groups_no_dup['url']
fb_groups_upload['List'] = 'LatinosGroupsPolitical'
fb_groups_upload.columns = ['name','Page or Account URL','List']
fb_groups_upload.to_csv("cscwDocs/"+filename_pages,index=False)

### Read FB Pages data

In [175]:
fb_pages = data[data['accountType']=='facebook_page']
fb_pages.shape

(76514, 12)

In [176]:
fb_pages_no_dup = fb_pages.drop_duplicates(subset=['url'])
fb_pages_no_dup.shape

(337, 12)

In [177]:
fb_pages_upload = pd.DataFrame()
fb_pages_upload['name'] = fb_pages_no_dup['name']
fb_pages_upload['url'] = fb_pages_no_dup['url']
fb_pages_upload['List'] = 'LatinosPagesPolitical'
fb_pages_upload.columns = ['name','Page or Account URL','List']
fb_pages_upload.to_csv("cscwDocs/"+filename_groups,index=False)

In [178]:
fb_pages_upload

,name,Page or Account URL,List
13,Trabajos Hispanos en New York,https://www.facebook.com/115818805455671,LatinosPagesPolitical
10824,Utah Latino Republicans,https://www.facebook.com/443879169772342,LatinosPagesPolitical
10826,Zelda Latino New York,https://www.facebook.com/104115684360170,LatinosPagesPolitical
10827,Latino Mix Dallas,https://www.facebook.com/373210132732581,LatinosPagesPolitical
10828,Latino Mix Chicago,https://www.facebook.com/250085535056159,LatinosPagesPolitical
...,...,...,...
228954,Solteros Latinos en New York,https://www.facebook.com/471488416527190,LatinosPagesPolitical
228955,"Latinos / Hispanics Over 40 New York, NY",https://www.facebook.com/1635374083385330,LatinosPagesPolitical
228957,Latinos En La Ciudad de New York by the Fox,https://www.facebook.com/1001653156892562,LatinosPagesPolitical
228960,Houston Latinos,https://www.facebook.com/1816508631909498,LatinosPagesPolitical
249965,Virginia Latinos for Trump,https://www.facebook.com/112319103528503,LatinosPagesPolitical